$columns: 12;
$gutter: 40px;
$container: 1600px;
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

@import 'lib/grid';
@import 'lib/gridlines';

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}